:root {
  --bg-color: hsl(255, 11%, 7%);
  --bg-light-color: hwb(255 13% 84%);
  --primary: #2ca03b;
  --accent: #FA3B2D;
  --primary-text: rgb(255, 255, 255);
  --secondary-text: hsl(258, 7%, 73%);

  /* Variáveis para os espaçamentos verticais */
  --m-bottom-xxs: 0.25rem;
  --m-bottom-xs: 0.5rem;
  --m-bottom-s: 1rem;
  --m-bottom-m: 2rem;
  --m-bottom-l: 4rem;
  --m-bottom-xl: 7.5rem;
}

* {
  margin: 0;
}

body { 
  background-color: var(--bg-color); 
  color: var(--primary-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: var(--m-bottom-m);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

header {
  text-align: center;
  width: fit-content;
  margin-bottom: var(--m-bottom-s);
}

main {
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 16px black;
  max-width: 450px;
  background-color: var(--bg-light-color);
}

.invalid::after {
  content: '*';
  color: var(--accent);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--m-bottom-m);
}

label { width: 100%; }

input {
  padding: .5rem;
  border-radius: 1000px;
  border: none;
  outline: none;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

button {
  padding: 1rem;
  border: 4px solid var(--primary);
  border-radius: 4px;
  color: var(--primary-text);
  font-weight: bold;
  box-shadow: 0 4px 4px black;
  height: fit-content;
  transition: .3s;
}

button#today {
  padding: .5rem 1rem;
  width: fit-content;
}

button.main-action {
  border: 4px solid var(--accent);
  background-color: var(--accent);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.secondary-action:hover {
  background-color: var(--primary);
}

#res p {
  text-align: center;
  max-width: 418px;
  margin-top: var(--m-bottom-m);
}

.secondary-action {
  background-color: var(--bg-light-color);
}